body{
    background-color: #ceb0ff;
}

.card-table{
    width:100%;
    table-layout: fixed;
}

.col-width{
    width:33%;
<<<<<<< HEAD
}

.card-table{
    width:100%;
=======
>>>>>>> 5091d9bbe7085c1306daf834f09d8dcb9ea2fa48
}