body{
    background-color: #ceb0ff;
}

<<<<<<< HEAD
.card-table{
    width:100%;
    table-layout: fixed;
}

.col-width{
    width:33%;
}
=======
>>>>>>> 7769897 (Created basic template for file export route:)
